.rbc-toolbar button:active { 
    background-color:#154360 !important;
    padding-left: 10px;
} 
.rbc-toolbar{
    padding-left: 20px;
    padding-right: 20px;
}
.rbc-event rbc-selected{
    align-items: center !important;
}
.rbc-btn-group{
    border-bottom-left-radius: 50px !important;
}
.rbc-event{
    background-color:#154360 !important;
}
.rbc-event{
    justify-content: center !important;
}
